body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fcfcfc;
  color: #333;           
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}